body {
    overflow-x: hidden;
    overflow-y: auto; /* Pozostawienie przewijania w osi Y */
  
}

#mainpage {

    padding: 0 !important;
    height: 80vh !important;

}

.item-1 {
    background-image: url('https://i.imgur.com/AY9h28Z.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100% !important;
}

.item-2 {
    background-image: url('https://i.imgur.com/JkRFjO3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100% !important;
}

.item-3 {
    background-image: url('https://i.imgur.com/LTYGDqz.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100% !important;
}

.carousel-inner-main {
    height: 100% !important;
}

.item-inner {
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;

}

.item-inner-inner {

    padding-top: 1rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #121212;
    opacity: 0.7;
    border-radius: 5px;
}

.item-inner-inner p {
    color: whitesmoke !important;
    opacity: 2 !important;
}

/* ABOUT US */
#about {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

/* parralax */
.parallax {
    /* The image used */
    background-image: url("https://i.imgur.com/yv93ppL.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem !important;
    overflow: hidden;
}

.title-paralax {
    color: whitesmoke !important;
    padding-top: 4rem;
    font-weight: bold;
}

/* OFFERTS */
.shadow {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

#offerts {
    padding-top: 3rem !important;
}

.pilma-contrast {
    color: #6e2e2f;
    font-weight: 750;
}

.offert-title {
    background-color: #6e2e2f !important;
    color: whitesmoke;
    font-weight: 600;
    padding: 0.1rem 0.5rem;
}

.card {
    overflow: hidden;
    position: relative;
    text-align: left;
    border-radius: 0.5rem;

    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
    width: auto !important;
    max-width: 400px !important;
}

.div_image_v {
    background: #db253d;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.dismiss {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: black;
    border: 2px solid #D1D5DB;
    font-size: 1rem;
    font-weight: 300;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    transition: .3s ease;
}

.dismiss:hover {
    background-color: #ee0d0d;
    border: 2px solid #ee0d0d;
    color: #fff;
}

.header {
    padding: 1.25rem 1rem 1rem 1rem;
}

.image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    animation: animate .6s linear alternate-reverse infinite;
    transition: .6s ease;
}

.image svg {
    color: #db253d !important;
    width: 2rem;
    height: 2rem;
}

.content {
    margin-top: 0.75rem;
    text-align: center;
}

.title {
    color: #db253d;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.message {
    margin-top: 0.5rem;
    color: #595b5f;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@keyframes animate {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.09);
    }
}

.carousels {
    display: none;
}

.carousel-item .card {
    margin-left: auto;
    margin-right: auto;
}

/* .offerts-row{
    display: block;
} */
.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */
    {
    filter: invert(100%);
}

#plima-diss {
    display: relative !important;
}

@media only screen and (max-width: 1237px) {
    .carousels {
        display: block !important;
    }

    .offerts-row {
        display: none !important;
    }

    #plima-diss {
        display: none !important;
    }

    .overlay-contact {
        background-image: none !important;
    }
}

.border-primary {
    border-color: transparent !important;
}

/* showcase work */
@media (max-width: 767px) {
    .carousel-inner-3 .carousel-item>div {
        display: none;
    }

    .carousel-inner-3 .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner-3 .carousel-item.active,
.carousel-inner-3 .carousel-item-next,
.carousel-inner-3 .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner-3 .carousel-item-end.active,
    .carousel-inner-3 .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner-3 .carousel-item-start.active,
    .carousel-inner-3 .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner-3.carousel-item-end,
.carousel-inner-3 .carousel-item-start {
    transform: translateX(0);
}

.card-img {
    padding-left: 1rem;
    padding-right: 1rem;
    border: none !important;
    outline: none !important;
}

.carousel-item-showcase div .card {
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
}

/* contact */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid+span {
    color: green;
}

.input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
}

.form label .input01+span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input01:placeholder-shown+span {
    top: 40px;
    font-size: 0.9em;
}

.form label .input01:focus+span,
.form label .input01:valid+span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input01:valid+span {
    color: green;
}

.fancy {
    background-color: transparent;
    border: 2px solid #cacaca;
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: #cacaca;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: #818181;
    transform: translateX(30%);
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: #cacaca;
}

.fancy:hover::before {
    width: 1.5rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

.overlay-contact {
    margin-top: 6rem !important;
    background-image: url('https://i.imgur.com/9yQ60I7.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-size: 50%;
    height: 50vh;
}

.overlay-contact .container {
    height: 100% !important;
}

.overlay-contact div .row {
    height: 100% !important;
}

.overlay-contact div .row div {
    height: 100% !important;
}

.contact-title {
    font-size: 2rem !important;
    text-align: left;
    color: #121212;
    font-weight: 600;
    width: 100%;


}

.plima-contact {
    font-size: 1000%;
    color: whitesmoke;
    font-weight: 700;
}

/* footer */
.footer section {
    margin-top: 3rem !important;
    background-color: #121212 !important;
}